@{
    ViewBag.Title = "QuyDinh";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/assets/ecommerce/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Quy Định</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Trang Chủ</a>
                            <span>Quy Định</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Breadcrumb Section End -->

<div class="container mt-5 mb-5">
<h2><font color="#707070;" size="5">QUY ĐỊNH SỬ DỤNG</font></h2>
<ul>
    <li><b>Điều 1: </b></li>
    - Khi đăng ký tài khoản, bạn nên cung cấp đầy đủ thông tin về tên tuổi, địa chỉ, email,...
    <br />
    - Đây là những thông tin bắt buộc, quý khách hàng phải điền đầy đủ thông tin để chúng tôi căn cứ theo đó mà phục vụ quý khách một cách tốt nhất.
    <br />
    - Những trường hợp điền thiếu thông tin hoặc thông tin sai sự thật sẽ không được giải quyết.
    <li><b>Điều 2: </b></li>Khách hàng có trách nhiệm phải tự mình bảo quản mật khẩu, nếu mật khẩu bị lộ ra ngoài dưới bất kỳ hình thức nào, BookStore sẽ không chịu trách nhiệm về mọi tổn thất phát sinh.
    <li><b>Điều 3: </b></li>Tuyệt đối không sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào hệ thống hay làm thay đổi cấu trúc dữ liệu.
    <li><b>Điều 4: </b></li>
    - Khi phát hiện ra lỗi của hệ thống, bạn hãy thông báo cho đội ngũ quản trị nhà sách qua email buithiaily@gmail.com
    <br />
    - Không được có bất kỳ hành vi nào nhằm đăng nhập trái phép hoặc tìm cách đăng nhập trái phép cũng như gây thiệt hại cho hệ thống máy chủ của nhà sách.
</ul>
</div>